[submodule "deploy/third-party/suckless/dwm"]
	path = deploy/third-party/suckless/dwm
	url = https://github.com/CantoroMC/dwm
[submodule "deploy/third-party/Xmenu/xmenu"]
	path = deploy/third-party/Xmenu/xmenu
	url = https://github.com/CantoroMC/xmenu
[submodule "deploy/third-party/Xmenu/xdg-xmenu"]
	path = deploy/third-party/Xmenu/xdg-xmenu
	url = https://github.com/CantoroMC/xdg-xmenu
[submodule "deploy/third-party/nnn"]
	path = deploy/third-party/nnn
	url = https://github.com/CantoroMC/nnn
[submodule "shell/.config/zsh/plugins/zsh-history-substring-search"]
	path = shell/.config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "shell/.config/zsh/plugins/zsh-autosuggestions"]
	path = shell/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shell/.config/zsh/plugins/fzf-tab"]
	path = shell/.config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
