[submodule "shell/.config/zsh/plugins/zsh-autosuggestions"]
	path = shell/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shell/.config/zsh/plugins/zsh-history-substring-search"]
	path = shell/.config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "shell/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = shell/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "shell/.config/zsh/plugins/fzf-tab"]
	path = shell/.config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "deploy/third-party/neovim"]
	path = deploy/third-party/neovim
	url = https://github.com/neovim/neovim
[submodule "deploy/third-party/XMonad/xmonadio/xmonad"]
	path = deploy/third-party/XMonad/xmonadio/xmonad
	url = https://github.com/xmonad/xmonad
[submodule "deploy/third-party/XMonad/xmonadio/xmonad-contrib"]
	path = deploy/third-party/XMonad/xmonadio/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
[submodule "deploy/third-party/XMonad/xmobarbarian/xmobar"]
	path = deploy/third-party/XMonad/xmobarbarian/xmobar
	url = https://github.com/jaor/xmobar
[submodule "deploy/third-party/Xmenu/xdg-xmenu"]
	path = deploy/third-party/Xmenu/xdg-xmenu
	url = https://github.com/CantoroMC/xdg-xmenu
