[Desktop Entry]
Version=R2020b
Type=Application
Terminal=false
MimeType=text/x-matlab
Exec=/usr/local/MATLAB/R2021a/bin/matlab -desktop -sd ~/Documents/programming/MATLAB
Name=MATLAB R2021a
Icon=matlab
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupNotify=true
