[Desktop Entry]
Name=Xboard
Comment=Chess Game
GenericName=Chess Game
Type=Application
Categories=Game;BoardGame;
Exec=xboard -fcp "/home/cantoro/Documents/chess/engines/stockfish12_bmi2" -fd "/home/cantoro/Documents/chess/engines" -fn "Stockfish12" -fUCI
Icon=xboard
