[Desktop Entry]
Name=Xboard
Comment=Chess Game
GenericName=Chess Game
Type=Application
Categories=Game;BoardGame;
Exec=xboard -fcp "/usr/bin/stockfish" -fd "/usr/bin" -fn "Aur" -fUCI
Icon=xboard
