[Desktop Entry]
Name=Xboard
Comment=Chess Game
GenericName=Chess Game
Type=Application
Categories=Game;BoardGame;
Exec=xboard -fcp "/home/cantoro/Documents/chess/engines/stockfish_ssse3" -fd
"/home/cantoro/Documents/chess/engines" -fn "stockfishSsse3" -fUCI
Icon=xboard
