background "#eaeaea"
# parent_bg true
decorations none
display :0
dockapp_mode none
transparent false
fuzzy_edges 3
geometry 4x1-0+1
max_geometry 8x1
grow_gravity NE
icon_gravity NE
icon_size 20
slot_size 20
kludges force_icons_size,fix_window_pos
no_shrink false
scrollbars none
skip_taskbar false
sticky true
window_strut auto
window_type toolbar
window_layer bottom

# vim:ft=config
